

  /* static/css/base.css */
  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background-color: rgba(2, 2, 2, 0.897);
    color: #fff;
    
  }

  .container{
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
}



   
  header {
    max-width: 100%;
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid #999;
    }
   
  .logo{
    
    margin:0;
    

  }
  .content{
    list-style-type: none;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    
    
    
  }

  .rev{
    
    letter-spacing: 20px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/reviews.jpg');
    width: 100%;
    max-width: 300px;
    height: 420px;
   
    
  }
   .post-title{
     text-decoration: none;
     color:#fff;
   }
   .post-title:hover{
     color: rgba(100, 235, 235, 0.897);
   }

   .add-link{
     text-decoration: none;
     color: rgba(255, 0, 0, 0.589);
   }

   .add-link:hover{
    color: rgb(255, 0, 0);
  }
  
  .rev:hover{
   
    opacity: 0.5;
  }
  .news:hover{
   
    opacity: 0.5;
  }
  .art:hover{
   
    opacity: 0.5;
  }

  .content a{
    text-decoration: none;
    color: #fff;
  }

  .news{
    letter-spacing: 20px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/news.jpg');
    width: 100%;
    max-width: 300px;
    height: 420px;
    
    
  
  }

  .art{
    letter-spacing: 20px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/articles.jpg');
    width: 100%;
    max-width: 300px;
    height: 420px;
   
    
  
  }
  .post-entry-inner{
    display: block;
    
    
  }
  .details li{
    margin-right: 1rem;
  }
 
  
   
  .post-entry {
    margin-bottom: 2rem;
  }
   
  .post-entry h2 {
    margin: 0.5rem 0;
  }
   
  .post-entry h2 a,
  .post-entry h2 a:visited {
    
    text-decoration: none;
  }
   
  .post-entry p {
    margin: 0;
    font-weight: 400;
  }
   
  .post-entry button a{
    text-decoration: none;
    
  }
   
  .post-entry a{
    text-decoration: none;
    
    

  }

  header h3 a{
    text-decoration: none;
    
  }
  
  header h4 a{
    text-decoration: none;
    
  }
  .add-comment{
    color:skyblue;
  }

  button{
    border-radius: 5px;
  }

  .nav{
    font-size: 14px;
    text-transform: uppercase;
  }

  .nav_link{
    display: inline-block;
    margin: 20px 50px;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    position: relative;
  }

  .nav_link:after{
    display: block;
    display: none;
    content:"";
    position: absolute;
    background-color: rgba(100, 235, 235, 0.897);
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    z-index: 1px;
    
  }

  

  .nav_link:hover:after{
    display: block;
  }

  .header-inner{
    display: flex;
    justify-content: space-between;
  }
  
  footer{
    background-color:rgba(20, 20, 20, 0.692);
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  footer{
    text-align:center;
  }

  footer a{
    text-decoration: none;
    color:rgb(70, 164, 218);
  }

  input[value="Edit"]{
      background-color:rgb(103, 150, 236);
      color: #fff;
      border-radius: 2px;
      border: none;
      font-size: 18px;
  }
  
  input[value="Delete"]{
    background-color: crimson;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
    border: none;
  }

  input[value="Post"]{
    background-color:rgb(103, 150, 236);
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
    border: none;
  } 
  
  input[value="Update"]{
    background-color:rgb(103, 150, 236);
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 18px;

  }