<!-- templates/post_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">
   
    <h2>{{ post.title }} - {{post.author}}</h2>
    
    
    <p>{{ post.body| safe }}</p><br>
    <p>Published: {{ post.date }}</p>
    {% if request.user.is_authenticated and user.id == post.author.id %}
    
      <a href="{% url 'update_post' post.pk %}"><input type="submit" value="Edit"></a>
      <a href="{% url 'delete_post' post.pk %}"><input type="submit" value="Delete"></a>
    

    {% endif %}
    
    
<br>
    <h2>Comments...</h2>
    <a href="{% url 'add_comment' post.pk %}" class="add-comment">Add Comment</a><br><br>
    {% if not post.comments.all %}

        No comments yet...<br>
       
    {% else %}
     
        {% for comment in post.comments.all %}
            {{comment.name}}-
            {{comment.date_added}}
            <br>
            {{comment.body}}
        {% endfor %}
    {% endif %}
<br>
  </div>
    
  
{% endblock content %}
